.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
  }
  .registration-form {
    width: 50%;
    padding: 20px;
    margin-bottom: 60px;
  }
  
  .registration-form h2 {
    text-align: center;
    /* margin-bottom: 20px; */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  #inputform > input {
    width: 50%;
  }
  label {
    display: block;
    font-weight: bold;
  }
  
  /* input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="tel"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
   */
  .registerBtn {
    width: 100%;
    padding: 10px;
    background-color: #90a7c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .registerBtn:hover {
    background-color: rgb(105, 105, 222);

  }

  .image-container > img {
    width: 100%;

  }
  
  /* Adjust the image styles as needed */
  .image-container > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 34px;
  }
  .studentregistrationtitle {
    color: black;
  }