#container {
    margin-top: 80px;
  }
  
  .text-center {
    text-align: center;
    color: #333; /* Dark gray text color */
  }
  
  .registration-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #555; /* Dark gray label color */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]:read-only,
  input[type="email"]:read-only,
  input[type="tel"]:read-only,
  input[type="password"]:read-only,
  input[type="date"]:read-only {
    background-color: #f3f3f3; /* Light gray background for read-only fields */
  }
  
  .updateBtn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .updateBtn:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  